@import "_fonts";
@import "_colores";

#pagcontac{
    min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url("../img/contactanos.jpg") no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 75px;
    
    h1{
        color:$color-primario;
        font-family: $font-family-base;
        font-size: 5rem;
              
    }
    
    .imgContac{
padding-top: 5rem;
padding-bottom: 5rem;
} .imgContac:hover{
    width: 200px;
}
}
