@import "_fonts";
@import "_colores";


.row{
   padding-top: 0.5px;
   }

#pagprincipal{
    // min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url("../img/reunion.jpg?1") no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 75px;
}

.h3{
    font-size: 5em;
    font-family: $font-family-base;
    color: $color-primario;
}
footer{
    background-color: $color-secundario;
    padding-top: 0.5em;
    padding-bottom: 2em;
}
p{
    
    color: $color-primario;
}
.imgFotter{
    
    width: 40px;
}
.imgFotter:hover{
    width: 50px;
}
a:link {
    text-decoration: none;
  }