@import "_fonts";
@import "_colores";


#pagSobre{
    // min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url("../img/sobre\ nostros.jpg") no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 75px;
}


h1{
    color: $color-primario;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
.text{
    
    color:$color-primario;
    padding-top: 7rem;
    text-align: center;  
    
}
.img-fluid{
    padding-top: 10px;
}

footer{
    background-color: $color-secundario;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}


p{
    
    color: $color-primario;
}
.imgFotter{
    
    width: 40px;
}
.imgFotter:hover{
    width: 50px;
}
a:link {
    text-decoration: none;
  }