@import "_fonts";
@import "_colores";


#pagSobre{
    // min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)),url("../img/sobre\ nostros.jpg") no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 75px;
}


h1{
    color: $color-primario;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
.text{
    margin: auto;
    width: 50%;
    
    color:$color-primario;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    
}
.img-fluid{
    
    width: 360px;
    height: 240px;
}

footer{
    background-color: $color-secundario;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}


p{
    
    color: $color-primario;
}
.imgFotter{
    
    width: 40px;
}
.imgFotter:hover{
    width: 50px;
}
a:link {
    text-decoration: none;
  }
  .bn5 {
    
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }